In [1]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
import pandas as pd
from sqlalchemy.orm import Session

url_object = URL.create(
    "postgresql",
    username="lotus",
    password="lotus",
    host="localhost",
    port="5433",
    database="lotusdb")

engine = create_engine(url_object)
session = Session(engine)

In [7]:
query = """
DELETE
	FROM misa
	WHERE ngay >= '2022-10-15' AND ngay <= '2022-10-20'
"""

session.execute(query)
session.commit()

In [4]:
df = pd.read_excel(r'C:\Users\VTA-HAN\Desktop\VTA\lotus_warehouse\Misa_template.xlsx')

In [6]:
df.to_sql('misa', if_exists='replace', index=False, con=engine)

352

In [6]:
pd.read_excel('tmp1.xlsx').to_sql('tmp', engine, if_exists='replace')

5

In [7]:
pd.read_excel('tmp2.xlsx').to_sql('tmp', engine, if_exists='replace')

5

In [12]:
query = """
SELECT *
    FROM misa
    LIMIT 0
"""
df = pd.read_sql_query(query,engine)

In [14]:
def misa_check(df:pd.DataFrame):
    """check if the uploaded file meets the Misa template
    """

    query = """
    SELECT *
        FROM misa
        LIMIT 0
    """
    misa_cols = pd.read_sql_query(query, engine).columns
    try: 
        if sum(df.columns == misa_cols) == len(misa_cols):
            return True
    except:
        return False

In [15]:
misa_check(df)

True